*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(246, 251, 254);
}

/* header styling */
#header{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    top: 0;
    background-color: white;
}
#header-img{
    width: 6rem;
    height: 5rem;
}
#nav-bar{
    display: flex;
    padding: 2rem 4rem;
    gap: 1.2rem;
}
#nav-bar > div > a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
#nav-bar > div > a:hover{
    color: rgb(120, 178, 202);
}
#logo{
    display: flex;
    align-items: center;
    color: rgb(120, 178, 202);
    font-weight: 900;
}

/* form styling */
#email-form{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 2rem;
    width: 59%;
    margin: 6rem auto 2rem auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#email-form > h3{
    color: rgb(51, 75, 86);
}
#form{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: center;
    justify-content: center;
}
#form input[type="email"]{
    padding: 0.2rem;
    width: 14rem;
}
#form input[type="submit"], .price-card > button{
    width: 8rem;
    color: black;
    background-color: rgb(120, 178, 202);
    border: none;
    padding: 0.2rem;
    font-weight: 800;
    font-size: 0.8rem;
}
#form input[type="submit"]:hover, .price-card > button:hover{
    cursor: pointer;
    background-color: rgb(174, 216, 234);
}
.container{
    width: 100%;
}
/* features section styling */
#features{
    display: flex;
    flex-direction: column;
    width: 58%;
    margin: 0 auto;
    gap: 2rem;
    padding: 2rem;
}
.feature-card{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.feature-card > h2{
    color: rgb(51, 75, 86);
}
/* video/ how-it-works section */
#how-it-works{
    width: 40%;
    height: 15rem;
    margin: 4rem auto;
}
#video{
    width: 100%;
    height: 100%;
}
/* pricing section styling */
#pricing{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 3rem;
    width: 70%;
    margin: 4rem auto;
    padding: 2rem;
}
.price-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 0.8rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
}
.price-card > h5{
    font-size: 1.5rem;
}
.price-card > p{
    font-size: 0.8rem;
}
/* media queries */
@media (min-width: 768px) and (max-width: 1024px) {
    html{
        font-size: 14px;
    }
    #logo > p{
        font-size: 16px;
   }
}
@media (max-width: 600px) {
    html{
        font-size: 10px;
    }
    #logo > p{
        font-size: 16px;
   }
}



